@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: #F5F5F5;
  --color-brand-stroke-2: #E9F4F8;
  --color-brand-white: #F6F8FF;
  --color-brand-light-blue: #DAEFFF;
  --color-brand-gray: #676A73;
  --color-brand-black: #2A2C31;
  --color-brand-dark-blue: #174162;
  --color-brand-blue: #273D89;
  --color-brand-red: #DB0D15;
  --color-brand-green: #A8B95E;
  --color-brand-orange: #DE8536;
  --color-brand-cyan: #00C3D0;
  --color-brand-midnight: #081542;
  --color-brand-sky: #C6ECFF;
  --color-brand-cream: #FBF6E3;
  --color-brand-stroke: #ACB1C6;
  --font-sans: 'Inter', sans-serif, ui-sans-serif, system-ui;

}

@layer base {

  /* For 2xl and lower screens */
  body {
    font-size: .85rem;
    font-family: var(--font-sans);
    color: var(--color-brand-black);
    background-color: var(--color-background);
  }

  /* For 3xl screens and higher */
  @media (width >=120rem) {
    body {
      font-size: 1.125rem;
    }
  }

  h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: var(--color-brand-dark-blue);
  }

  @media (width >=96rem) {
    h1 {
      font-size: 32px;
      line-height: 38px;
    }
  }

  h2 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: var(--color-brand-blue);
  }

  @media (width >=96rem) {
    h2 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  h3 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: var(--color-brand-green);
  }

  @media (width >=96rem) {
    h3 {
      font-size: 26px;
      line-height: 32px;
    }
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: var(--color-brand-black);
  }

  @media (width >=96rem) {
    h4 {
      font-size: 24px;
      line-height: 30px;
    }
  }

  h5 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--color-brand-gray);
  }

  @media (width >=96rem) {
    h5 {
      font-size: 22px;
      line-height: 28px;
    }
  }

  h6 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--color-brand-gray);
  }

  @media (width >=96rem) {
    h6 {
      font-size: 20px;
      line-height: 26px;
    }
  }
}